<!DOCTYPE html>
<html>
<head>
    <title>Информация - Каталог курсов</title>
</head>
<body>
    <h1>Информация о проекте</h1>
    
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/courses/">Курсы</a></li>
        <li><a href="/authors/">Авторы</a></li>
        <li><a href="/info/">Информация</a></li>
    </ul>
    
    <pre>{{ info_text }}</pre>
    
    <p><strong>Техническая информация:</strong> Проект разработан на Django без использования базы данных.</p>
</body>
</html>